*{padding: 0; margin: 0;} 
#a{
     width: 800px;
     height: 800px;
     background-image: radial-gradient(circle at center,#f069f5,rgb(89, 9, 143));   /*渐变*/
} 
#b{
    display: aouto;
     width: 500px;
     height: 500px;
     background-image: linear-gradient(to right,#f069f5,rgb(89, 9, 143));   /*渐变*/
}